body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    text-decoration:none;
}
nav ul li {
    text-align: center;
    color: white;
    display: inline-block;
}

nav a:hover, nav a:active, nav a:focus {
    text-decoration: none;
    transition: 1.5s;
}

nav ul li a {
    display: block;
    text-align: center;
    list-style-type: none;
    list-style-image: none;
}

nav a {
    font-weight: bold;
    color: black;
    text-decoration:none;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
        transition: 1.5s;
    }

nav ul {
    padding: 0px;
    border:solid;
    border-color:black;
    margin-top:auto;
}

nav li:hover {
    background-color: darkblue;
    transition: 1.5s;
}

nav ul li#active{
    background-color:aquamarine;
}
/* Nav Lin Structure */

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }

/* Vertical Link Blocks */
ul.blocklist {
    background-color: black;
    padding: 0;
}

    ul.blocklist li {
        list-style-type: none; /* Takes away the bulleted list format */
        list-style-image: none; /* Set this to none so it doesn't have an image as the bullet points */
    }

    ul.blocklist a {
        color: lightsalmon;
        text-align: center;
        padding: 0.5em;
        display: block;
        /* What this does is that it changes the text color to light salmon, makes the entire horizontal area clickable (not just the text), and aligns it in the center, displays it as a block.*/
    }

        ul.blocklist a:hover {
            background-color: darkblue;
            color: lightblue;
        }

i.fab{
    text-decoration:none;
    color:black;
}

footer{
    border:solid;
    border-color:black;
}

p#rights{
    text-align:left;
    text-decoration:none;
    color:black;
    padding-left:20px;
    float:left;
}
p#copyright {
    text-align: center;
    text-decoration: none;
    color: black;
}
a{
    text-decoration:none;
}
header {
    border: solid;
    border-color: black;
}
div#footerSocials{
    text-decoration:none;
    text-align:right;
    font-size:20px;
    letter-spacing:20px;
    float:right;
    margin:auto;
    padding-top:0.75em;
}

div#contactUs{
    text-align:center;
}

div#headerSocials {
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    letter-spacing: 20px;
    float: right;
    margin: auto;
    padding-top:1.5em;
}

h1#title{
    float:none;
}

div#rightColumn {
    width: 25%;
    float: right;
    height: 90%;
    color: black;
    text-decoration: none;
    border: solid;
    border-color: black;
    display:inline-block;
    box-sizing: border-box;
}

.asideList {
    color: black;
    text-decoration: none;
}

#leftColumn {
    width: 73%;
    border-right: 1px solid black;
}

#spacing{
    float:left;
    margin-left: 20px;
}

div#pageTitle{
    text-align:center;
}

div.ourTeam{
    padding-left:30px;
    padding-right:30px;
}

h3#indentation {
    text-align:center;
}

h2#h2Indentation {
    text-align: center;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse; 
}

table {
    margin: auto;
    margin-bottom: 2em;
}

th {
    font-weight: bold;
    text-align: center;
}

td, th {
    padding: .3em;
}

thead {
    background-color: gray;
}

tfoot {
    background-color: white;
}

    tfoot tr, tfoot td {
        border: 0;
    }

tbody tr:nth-child(even) {
    background-color: lightgray; 
}

div#dribblingCourse{
    border: solid black 1px;
    text-align: left;
    display:inline-block;
    width:235px;
    margin:20px;
    margin-bottom:40px;
}

div#overallCourse {
    border: solid black 1px;
    text-align: left;
    display: inline-block;
    width: 235px;
    margin:20px;
    margin-bottom:40px;
}

div#defendingCourse {
    border: solid black 1px;
    text-align: left;
    display: inline-block;
    width: 235px;
    margin:20px;
    margin-bottom:40px;
}

div#attackingCourse {
    border: solid black 1px;
    text-align: left;
    display: inline-block;
    width: 235px;
    margin: 20px;
    margin-bottom: 40px;
}

div#shootingCourse {
    border: solid black 1px;
    text-align: left;
    display: inline-block;
    width: 235px;
    margin: 20px;
    margin-bottom: 40px;
}

div#goalkeepingCourse {
    border: solid black 1px;
    text-align: left;
    display: inline-block;
    width: 235px;
    margin: 20px;
    margin-bottom: 40px;
}

h4#h4Padding{
    padding-left:10px;
    margin-top:2px;
    width:200px;
}

.topRow p{
    width: 200px;
    padding-left:10px;
}

.middleRow p {
    width: 200px;
    padding-left: 10px;
}

.bottomRow p {
    width: 200px;
    padding-left: 10px;
}

div#centerButton{
    text-align:center;
    margin-bottom:20px;
}

div.align{
    text-align:center;
}

div#logo img{
    margin-top:15px;
    margin-left:5px;
    float:left;
}

div.backshadow {
    background-color: #ACACAC;
}

h4.indexH4 {
    text-decoration: underline deepskyblue;
    padding-top: 2em;
    margin-left: 15em;
}

img.indexMargins{
    float:left;
    margin-left: 1em;
    margin-top: 2em;
}

p.indexP {
    margin-right: 1em;
    margin-left: 15em;
}

div.indexSocials{
    margin-left: 2.75em;
    margin-top: 0.5em;
    font-size: 1.5em;
    letter-spacing: 0.175em;
}

h1.indexH1{
    text-align:center;
}

button.indexButton1 {
    background-color: deepskyblue;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

img.whyChooseUs1{
    float:left;
    margin-right: 2.5em;
}

p.indexP2 {
    padding-right: 2em;
}

img.whyChooseUs2 {
    float: right;
}

h3.indexH32 {
    padding-left: 1em;
    padding-top: 2em;
}

p.indexP3 {
    padding-left: 1em;
}

button.indexButton2 {
    background-color: deepskyblue;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

div.buttonSpacing{
    padding-left: 1em;
}

div.left{
    float:left;
}

div.right{
    float:right;
}

div.text-center{
    text-align:center;
}